@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import "./Breakpoints.scss";

html,
body {
  width: 100%;
  height: 100%;
  background: #23294b;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  ::selection {
    background: #e74856;
    color: #ffffff;
  }
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 50%;
  width: 100%;
  height: 100%;
  font-size: 1.9rem;
  font-weight: 900;
  margin: 1.5rem 0;
  padding: 0 0.5rem;
  color: #ffffff;
  box-sizing: border-box;
  overflow: hidden;

  @include for-xlarge() {
    font-size: 3rem;
  }

  .slash {
    color: #e74856;
    padding-right: 0.5rem;
  }

  &::after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 1rem;
    right: 0;
    bottom: 0;
  }

  .title {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    text-align: left;
    align-self: flex-start;
  }

  .marker {
    background: #e74856;
    position: relative;
    right: 0;
    bottom: 5px;
    width: 20px;
    height: 5px;
    align-self: flex-end;
    animation-name: markerFade;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
  }

  @keyframes markerFade {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .role {
    width: 100%;
    color: #ffffff;
    background: #3e477a;
    border-radius: 0.5rem;
    font-size: 1rem;
    text-align: center;
    margin-top: 0.25rem;
    padding: 0 1rem;
    box-sizing: border-box;

    @include for-xlarge() {
      font-size: 1.5rem;
    }
  }
}

.links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;

  li,
  li a {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 0.8rem;
    margin: 0 0.5rem;
    position: relative;
    text-decoration: none;
    transition: all 0.3s ease;

    @include for-xlarge() {
      font-size: 1.3rem;
    }

    & svg {
      font-size: 2rem;

      @include for-xlarge() {
        font-size: 3rem;
      }
    }

    & a:hover {
      color: #e74856;
      transition: all 0.3s ease;
    }

    &:not(:last-child) {
      a {
        &::after {
          content: "/";
          display: block;
          font-family: "Montserrat", -apple-system, BlinkMacSystemFont,
            "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
            "Helvetica Neue", sans-serif;
          font-size: 1.5rem;
          color: #e74856;
          position: absolute;
          bottom: 0;
          right: -1.25rem;

          @include for-xlarge() {
            font-size: 2rem;
          }
        }
      }
    }
  }
}
